@page
@model HW5.Pages.About_meModel
@{
    ViewData["Title"] = "About me";
}
<section id="main">
    <h1>About me</h1>
    <p>My name is </>Oleksandr</p>
    <p>I am software engeneer. </p>
    <p>My specilization is software packaging, but now I am stydying C#. </p>
</section>