@page
@model HW5.Pages.Homework6Model
@{
}
<!DOCTYPE html></>
<html>
    <head>
        <title>Homework 6</title>
    <style>
        body {
            background: url(./imgs/back_fone.png) no-repeat; background-size:100%;
        }
        h1 {
            margin-top: 60px;
            margin-bottom: 20px;
            color: white;
        }

        p {
            color: white; font-family:Arial; font-size:small;
        }
        img {
            border-radius: 40%;
        }

    </style>
    </head>
    <body >
        <h1 align="center">Design Services</h1>
        <p align="center">Simple Text. Loren ipsum asdjfugh dew dgfwe ewfkjh ew fkehkte<br>dsfh dfgkjhdfkj dfgertqwadsa tg rketg.</p>
    <div align="center">
        <a href="../About me" ><img src="~/imgs/aboutus.png" /></a>
        <a href="../My hobbies" ><img src="~/imgs/ourworks.png" /></a>
    </div>
    <div align="center" style="margin-top: 30px;">
        <a href="../Privacy"><img src="~/imgs/simple.png" style="border-radius: 10%;" /></a>
        <a href="../Privacy"><img src="~/imgs/nocoding.png" style="border-radius: 10%;" /></a>
        <a href="../Privacy"><img src="~/imgs/500sites.png" style="border-radius: 10%;" /></a>
        <a href="../Privacy"><img src="~/imgs/gifs.png" style="border-radius: 10%;" /></a>
    </div>
    </body>
</html>
